.hero{

background:
linear-gradient(
135deg,
#0f172a 0%,
#1e293b 40%,
#2563eb 100%
);

color:white;

padding:140px 8% 90px;

display:flex;
justify-content:space-between;
align-items:center;

gap:50px;
}
.hero-content{
    flex:1;
}

.hero h1{

    font-size:60px;

    line-height:1.2;

    margin-bottom:25px;
}

.hero span{

    color:#ffe082;
}

.hero p{

    font-size:20px;

    line-height:1.8;

    max-width:600px;

    margin-bottom:35px;
}

.hero-buttons{

    display:flex;

    gap:20px;
}

.primary-btn{

    background:#0ea5e9;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.primary-btn:hover{

    transform:translateY(-4px);

    background:#0284c7;
}

.secondary-btn{

    background:white;

    color:#111827;

    border:none;

    padding:15px 35px;

    border-radius:10px;

    font-size:18px;

    cursor:pointer;

    transition:.3s;
}

.secondary-btn:hover{

    transform:translateY(-4px);
}

.hero-image{

    flex:1;

    display:flex;

    justify-content:center;
}

.hero-image img{

    width:100%;

    max-width:520px;

    border-radius:25px;

    box-shadow:0 20px 40px rgba(0,0,0,.25);
}

@media(max-width:900px){

.hero{

flex-direction:column;

text-align:center;

padding-top:150px;
}

.hero p{

margin:auto auto 35px;
}

.hero-buttons{

justify-content:center;
}

.hero h1{

font-size:42px;
}

}